:root {
  /*Map*/
  --map-background: #2f4855;
  --map-color: rgb(255, 255, 255, 0.25);
  --map-stroke: rgb(0, 0, 0);
  --map-hover: rgb(248, 117, 117, 0.81);
  --header-background: #2f4855;
  --text-color: #333

  /* Map Zoom*/
  --map-zoom-background: rgb(255, 255, 255);
  --map-zoom-hover: rgb(185, 185, 185);
  --map-zoom-disabled: rgb(240, 240, 240);
  background-color: #2f4855;
}
